<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaulHref="/lugares"></ion-back-button>
    </ion-button>
    <ion-title>AGREGA UN NUEVO LUGAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Escriba un Titulo" #titulo></ion-input>
          <ion-input type="text" placeholder="http://urlimagensite.com" #imageURL></ion-input>
          <ion-button color="primary" (click)="saveLugar(titulo,imageURL)">
            <ion-label>Guardar</ion-label>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
