<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start">
        <ion-back-button defaulHref="/lugares"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle lugar</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="deleteLugar()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
      <ion-row *ngFor=" let lugar of lugares">
        <ion-col class="ion-no-padding" >
          <ion-img  ></ion-img>
          <ion-label></ion-label>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-row>
          <ion-col>
            <ion-buttons>
              <ion-button (click)="like()">
                <ion-icon name="heart" size="large"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-text>{{likeTotal}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-buttons slot="end" >
                <ion-button (click)="NewComent()" > 
                  <ion-icon name="chatbox-outline"  ></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-col>
        </ion-row>     
      </ion-card>
      <!--
    <div *ngIf="mostrar">
      <ion-row>
        <ion-col class="coment">
          <ion-input type="text" placeholder="Comentar..." #coment></ion-input>
        </ion-col>
        <ion-col class="line">
          <ion-buttons >
            <ion-button (click)="addComent(coment.value)">
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col> 
      </ion-row>
    </div>
    <ion-row>
      
      <ion-col>
          <ion-list *ngIf="lugar.comentario && lugar.comentario.length >0; else noComentario">
            <ion-item *ngFor="let coment of lugar.comentario">
              {{coment}}
            </ion-item>
          </ion-list>
          <ng-template #noComentario>
            <ion-text>
              <p class="ion-text-center">Aún no hay comentarios</p>
            </ion-text>
          </ng-template>
      </ion-col>
   
    </ion-row> -->
  </ion-grid>

</ion-content>
