<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-button slot="start" >
        <ion-back-button defaulHref="/lugares"></ion-back-button>
      </ion-button>
    <ion-title>
     Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon >user</ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let fotos of Fotos">
      <img [src]="fotos.thumbnailUrl">
      <ion-card-content>
        <p>{{fotos.title}}</p>
        <p>{{fotos.albumId}}</p>
        <a [href]="fotos.url" target="_blank">{{fotos.url}}</a>
      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>
